<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2017 - 2020</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Science</div>
                                <h4 class="category">Kovai kalaimagal college of arts and science</h4>
                                <ul>
                                    <li> kovail kalaimagal college of arts and science <b>ranks 1st</b> </li>
                                        <li>Completed B.Sc in Computer science with <b>7.75 CGPA</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2015 - 2017</p>
                        <div class="h5">HSC</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">computer science</div>
                            <h4 class="category">G.G.Hrs.School</h4>
                            <ul>
                                    <li>Completed  <b>HSC</b> in <b>Computer Science</b> with <b>78%</b> aggregate.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
             
    </div>
</div>                                               